/.idea
/.vscode
/.vagrant
/node_modules
/public/hot
/public/storage
/public/framework/*
/storage/*.key
/storage/logs/*
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/comp/*
